/* Universal Styles*/
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 32px;
}

/* Styling for Main Grid containing all the Slots */
#game-grid {
  position: relative;
  justify-self: center;
  top: 10vh;
  display: grid;
  /*
    Defining the grid with 7 columns and 6 rows
    */
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  /*
   Dimensions using a Responsive approach
    */
  width: 90vw;
  max-width: 600px;
  aspect-ratio: 7/6;
  background-color: dodgerblue;
  padding: 10px;
  border-radius: 10px;
  justify-items: center;
  align-items: center;
  gap: 5px;
}

.slot {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 50%;
  margin: 5px;
}


/* Piece for the falling animation */
.falling::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--piece-color);
  animation: drop 0.6s forwards;
  z-index: 10;
}

/* Physics Animation applied to the pseudo element */
@keyframes drop {
  0% {
    transform: translateY(-600px);
    opacity: 0;
    animation-timing-function: ease-in;
  }
  40% {
    transform: translateY(0);
    opacity: 1;
    animation-timing-function: ease-out;
  }
  55% {
    transform: translateY(-60px);
    animation-timing-function: ease-in;
  }
  70% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  85% {
    transform: translateY(-20px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
  }
}

#winner-display {
  font-size: 0.75rem;
  position: relative;
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 300px;
  border: 3px solid black;
  margin-top: 150px;
  background: #232323;
  color: white;
}
#btn-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
#reset-btn {
  font-size: 1rem;
  height: 75px;
  width: 150px;
  border: 3px solid black;
  border-radius: 30px;
  position: relative;
  transition: 0.5s all;
}
